---
layout: page
filename: homepage
title: Resume
header: Resume
---

<div class="projects-container">
  {% include resume-link.html %}
  <div class="technical-skills">
    <div class="section">
      <div class="header">
        Technical Skills
      </div>
      <div class="body">
        <div class="subsection">
          <div class="header">
            Proficient Languages
          </div>
          <div class="body">
            C#, TypeScript, Java, T-SQL, Python, JavaScript, CSS, LESS and Sass
          </div>
        </div>
        <div class="subsection">
          <div class="header">
            Technologies
          </div>
          <div class="body">
            <div class="subsection">
              <div class="header">
                JavaScript & Frontend
              </div>
              <div class="body">
                React, VueJs, NodeJs, Storybook, Jest, Enzyme, HTML5, Webpack,
                Bootstrap, JQuery, Kendo.
              </div>
            </div>
            <div class="subsection">
              <div class="header">
                Microsoft
              </div>
              <div class="body">
                ASP.Net, ASP.Net Core, Azure, Razor, IIS, MSSQL, SSRS, SSIS,
                Active Directory Services ASP.NET Web Forms, MVVM, MVC, Entity
                Framework, and Entity Framework Core.
              </div>
            </div>
            <div class="subsection">
              <div class="header">
                Amazon Web Services
              </div>
              <div class="body">
                Load Balancers, Cloud Watch, ECS (EC2 Container Service), AMI,
                CLI, Scaling Policies, CodeDeploy.
              </div>
            </div>
            <div class="subsection">
              <div class="header">
                Containers
              </div>
              <div class="body">
                Docker and Kubernetes
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="work-experience">
    <div class="section">
      <div class="header">
        Work Experience
      </div>
      <div class="body">
        <div class="subsection">
          <div class="header">
            <div class="title">Full Stack Developer</div>
            <div class="dates">April 2018 - Present</div>
          </div>
          <div class="body">
            <div class="body-title">Jet Global - Portland, OR</div>
            <ul>
              <li>
                Developed and migrated existing front-end code to a modern React
                app using TypeScript
              </li>
              <li>
                Wrote back-end services in C# and exposed REST APIs in .NET and
                .NET core
              </li>
              <li>
                Added Storybook to help develop reusable React components
              </li>
              <li>
                Added Jest and Enzyme for front-end testing
              </li>
              <li>
                Assisted with adding JavaScript testing in Azure Build Pipelines
              </li>
              <li>
                Created NPM Azure Artifacts and utilized CI/CD
              </li>
            </ul>
          </div>
        </div>
        <div class="subsection">
          <div class="header">
            <div class="title">Systems Development Engineer</div>
            <div class="dates">March 2014 - April 2018</div>
          </div>
          <div class="body">
            <div class="body-title">
              OSU Center For Applied Systems and Software - Corvallis, OR
            </div>
            <ul>
              <li>
                Created modern TypeScript SPA using React with .NET Core, .NET
                4.6, Java Spring, and NodeJS
              </li>
              <li>
                 Created and hosted Docker containers using Kubernetes in AWS
              </li>
              <li>
                Utilized Jest and Enzyme for front-end testing and Storybook for
                development of React components
              </li>
              <li>
                Created NPM packages for sharing reusable React components
              </li>
              <li>
                Created free and open-source software (FOSS) .NET core web
                applications using modern web technologies
              </li>
              <li>
                Utilized continuous integration (CI) tools to automate testing,
                build, and deployments of applications to cloud services
              </li>
              <li>
                Managed and led a group of 6 college-level students and taught
                fundamentals of software engineering with real-world
                applications
              </li>
              <li>
                Leveraged Microsoft technologies to create full stack
                applications for customers including reporting (SSRS), ETL
                processes (SSIS), database (SQL), security, and web applications
              </li>
              <li>
                Worked directly with customers and created agile project plans
                with time and cost estimates
              </li>
              <li>
                Utilized SQL ETL Packages to automate data delivery to
                Salesforce systems
              </li>
            </ul>
          </div>
        </div>
        <div class="subsection">
          <div class="header">
            <div class="title">Student Developer</div>
            <div class="dates">January 2013 - March 2014</div>
          </div>
          <div class="body">
            <div class="body-title">
              OSU Business Solutions Group - Corvallis, OR
            </div>
            <ul>
              <li>Created ETL Packages from Oracle DB to Salesforce</li>
              <li>
                Worked with customers to gather requirements to design an
                application
              </li>
              <li>
                Developed student tracking applications in Salesforce for OSU
              </li>
            </ul>
          </div>
        </div>
        <div class="subsection">
          <div class="header">
            <div class="title">Student Analyst</div>
            <div class="dates">June 2011 - December 2012</div>
          </div>
          <div class="body">
            <div class="body-title">
              OSU Facilities Services - Corvallis, OR
            </div>
            <ul>
              <li>
                Worked with Networking Services (NWS) and American Disability
                Act (ADA) to create wireless heat maps of OSU’s buildings to
                locate assets with attached RFID/wireless tags.
              </li>
              <li>
                Partnered with OSU TAPS to migrate their existing Microsoft
                Access database to a MySQL database. Created a webform to
                capture data for quarterly reports.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="projects">
    <div class="section">
      <div class="header">Projects</div>
      <div class="body">
        <!--Project-->
        <div class="subsection">
          <div class="header">
            <div class="title">
              Smarter Balanced Sample Items Website
              <span class="title-links">
                {% include icon-link.html
                url="http://sampleitems.smarterbalanced.org/" title="Sample
                Items" icon="external-link" linktext="" %}
                <span class="link-spacer">|</span>
                {% include icon-github.html
                username="osu-cass/SampleItemsWebsite" linktext="" %}
              </span>
            </div>
            <div class="dates">August 2016 - Present</div>
          </div>
          <div class="body">
            <div class="framework">
              C#, MVVM, Dotnet Core, React, TypeScript, TravisCI, AWS, Docker,
              Git, LESS, HTML, CSS, Grunt, XML, JSON
            </div>
            <div class="description">
              <p>
                An open source .NET Core web application hosted in AWS using
                Docker. Teachers, parents, and students use this application to
                search for test items, understand scoring, and interact with
                test items using Item Viewer Service. This application is very
                scalable and supports up to 5,000 concurrent users.
              </p>
            </div>
          </div>
        </div>
        <!--End of project-->
        <!--Project-->
        <div class="subsection">
          <div class="header">
            <div class="title">
              Smarter Balanced Item Viewer Service
              <span class="title-links">
                {% include icon-link.html
                url="http://ivs.smarterbalanced.org/items?ids=187-2645,187-2643,187-2644,187-2558"
                title="Item Viewer Service" icon="external-link" linktext="" %}
                <span class="link-spacer">|</span>
                {% include icon-github.html
                username="osu-cass/AP_ItemViewerService" linktext="" %}
              </span>
            </div>
            <div class="dates">February 2016 - February 2017</div>
          </div>
          <div class="body">
            <div class="framework">
              Spring, Java, TravisCI, AWS, Docker, Git, JavaScript, Apache
              Tomcat, HTML
            </div>
            <div class="description">
              <p>
                A Java web application hosted in AWS using docker. This
                application exposes Smarter Balanced's item rendering service.
              </p>
            </div>
          </div>
        </div>
        <!--End of project-->
        <!--Project-->
        <div class="subsection">
          <div class="header">
            <div class="title">OSU Plant Breeding Program</div>
            <div class="dates">June 2014 - Present</div>
          </div>
          <div class="body">
            <div class="framework">
              C#, MSSQL, MVVM, .NET 4.6.1, Entity Framework, React, TypeScript,
              TFS, SSIS, SSRS, HTML, CSS
            </div>
            <div class="description">
              <p>
                A comprehensive MVC web application to assist breeders to
                determine quality of species, track species, create visual
                representations of fields, and to record phenotypic information.
              </p>
            </div>
          </div>
        </div>
        <!--End of project-->
        <!--Project-->
        <div class="subsection">
          <div class="header">
            <div class="title">OSU Applicants and Student Tracking</div>
            <div class="dates">April 2013 - Present</div>
          </div>
          <div class="body">
            <div class="framework">
              Apex, SSIS, Salesforce, Visualforce, Git, HTML, CSS
            </div>
            <div class="description">
              <p>
                A Salesforce application with custom apex code to track student
                progress, admission rates, online application submissions,
                admission processing, and student events. More than 3,000
                applicants a year are processed using this application and over
                a thousand tracked students.
              </p>
            </div>
          </div>
        </div>
        <!--End of project-->
      </div>
    </div>
  </div>

  <div class="education">
    <div class="section">
      <div class="header">Education</div>
      <div class="body">
        <div class="subsection">
          <div class="header">
            <div class="title">Oregon State University, Computer Science</div>
            <div class="dates">September 2010 - April 2014</div>
          </div>
        </div>
        <div class="subsection">
          <div class="header">
            <div class="title">
              Columbia Gorge Community College, General Studies
            </div>
            <div class="dates">September 2008 - June 2010</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
