---
layout: page
title: Projects
permalink: /projects/
header: Projects
---
<div class="projects-container">
     <div class="section">
        <div class="header">
            <div class="title">Smarter Balanced Sample Items Website {% include icon-github.html username="osu-cass/SampleItemsWebsite" linktext="" %}</div>
            <div class="dates">August 2016 - Present</div>
            </div>
        <div class="body">
            <div class="framework">C#, Dotnet Core, React, TypeScript, TravisCI, AWS, Docker, Git</div>
            <div class="description">
                <p>
                   An open source .NET Core web application hosted in AWS using Docker.
                   Teachers, parents, and students use this application to search 
                   for test items, understand scoring, and interact with test items using Item Viewer Service.
                    This application is very scalable and supports up to 5,000 concurrent users. 
                </p>
            </div>
        </div>
    </div>
     <div class="section">
        <div class="header">
            <div class="title">Smarter Balanced Item Viewer Service {% include icon-github.html username="osu-cass/AP_ItemViewerService" linktext="" %}</div>
            <div class="dates">February 2016 - February 2017</div>
        </div>
        <div class="body">
            <div class="framework">Spring, Java, TravisCI, AWS, Docker, Git</div>
            <div class="description">
                <p>
                    A Java web application hosted in AWS using docker. This application exposes 
                    Smarter Balanced's item rendering service.  
                </p>
            </div>
        </div>
    </div>
     <div class="section">
        <div class="header">
            <div class="title">Smarter Balanced Illustration Research</div>
            <div class="dates">August 2015 - February 2016</div>
        </div>
        <div class="body">
            <div class="framework">Angular, Javascript, Node.js, Git</div>
            <div class="description">
                <p>
                    A SPA web application research project written in angular to analyze and compare 
                    student responses when viewing an illustration during a test.
                </p>
            </div>
        </div>
    </div>
     <div class="section">
        <div class="header">
            <div class="title">OSU Plant Breeding Program</div>
            <div class="dates">June 2014 - Present</div>
        </div>
        <div class="body">
            <div class="framework">C#, MSSQL, .NET 4.6.1, Entity Framework, React, TypeScript, TFS</div>
            <div class="description">
                <p>
                    A comprehensive MVC web application to assist breeders to determine
                    quality of species, track species, create visual representations of fields, 
                    and to record phenotypic information. 
                </p
            ></div>
        </div>
    </div>
     <div class="section">
        <div class="header">
            <div class="title">OSU Applicants and Student Tracking</div>
            <div class="dates">April 2013 - Present</div>
        </div>
        <div class="body">
            <div class="framework">Apex, SSIS, Salesforce, Git</div>
            <div class="description">
                <p>
                    A Salesforce application with custom apex code to track student progress, 
                    admission rates, online application submissions, admission processing, and student events. 
                    More than 3,000 applicants a year are processed using this application and over a thousand tracked 
                    students.
                </p>
            </div>
        </div>
    </div>
     <div class="section">
        <div class="header">
            <div class="title">OSU Plant Virus Testing</div>
            <div class="dates">January 2014 - August 2015</div>
        </div>
        <div class="body">
            <div class="framework">Apex, Salesforce, Git</div>
            <div class="description">
                <p>
                    A Salesforce application that tracks virus testing, customer requests, and plant samples. 
                </p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="header">
            <div class="title">OSU Legacy Apps</div>
            <div class="dates">January 2014 - Present</div>
        </div>
        <div class="body">
            <div class="framework">Webforms, C#, MSSQL, TFS</div>
            <div class="description">
                <p>
                    Provided support and new features for existing OSU web applications.
                    Contract management systems, OSU fees, and OSU Catalog.
                </p>
            </div>
        </div>
    </div>

</div>