<footer class="site-footer">
  <div class="container">
    <div>
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </div>
    {% if site.github_username %}
    <div>
      {% if site.linkedin_username %}
      {% include icon-linkedin.html username=site.linkedin_username linktext="" %}
      {% endif %}

      {% include icon-github.html username=site.github_username linktext=site.github_username %}
    </div>
    {% endif %}
    <div>
        {{ site.description }}
    </div>
    <div>
      Portland, Oregon
    </div>
  </div>
</footer>
