.projects-container {
    .project {
        display: block;
        background-color: #f0f0f4;
    }
    .project .body{
        background-color: transparent;
        margin-bottom: 30px;
        padding: 15px;
    }
    .project .heading {
        font-weight: bold;
        font-size: 18px;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: black;
        background-color: $block-background-color;
    }
  
}

 

