.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.section {
    display: block;
    background-color: white;
    box-shadow: $box-shadow;
    margin-bottom: $spacing-unit/2;
    background: linear-gradient(to bottom, $grey-color,$grey-color 4px, white 4px, white);
}
.section .body{
    padding: $spacing-unit/2;
}
.section .header {
    font-weight: bold;
    border-bottom: 1px solid $grey-color-light;
    border-bottom-color: black;
    padding: 0 $spacing-unit/2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 30px;
    align-items: center;
    flex-wrap: wrap;

}

.subsection .header {
    font-size: $font-size-smaller;
}
.subsection .body {
    font-size: $font-size-smaller;
}

.about-picture img{
    height: 375px;
    flex-grow: 1;
}

.about-wrapper .container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
}

.about-pro, .about-outside {
    margin-left: $spacing-unit;
    flex-grow: 2;
    max-width: 500px;
} 
.about-outside {
    margin-left: $spacing-unit;
    flex-grow: 2;
    max-width: 800px;
} 
.contact .section {
    max-width: 375px;
}